
div#container {
}

div#subject { position: absolute; left:0px; top:0px; height:150px; width:100%; background-image: url(../subject.jpg); }
div#myinfo { position: absolute; left:0px; top:150px; height:30px; width:100%; background-color:#e9e9e9; box-shadow:0px 0px 20px #000; }
div#myinfo h4 { float: left; margin:2px 8px; }
div#myinfo h6 { float: right; margin:6px 50px; }
div#decorate { margin-top:200px; width:100%; height:25px; background-color:#00438C; }
a { text-decoration:none; }

table#image_list
{
  width:100%;
  text-align:left;
  border-collapse:collapse;
}
table#image_list,th,td
{
  padding:5px;
}
th { background-color:#6d88ad; color:#fff; font-size:14px; }
td { font-size:13px; font-family: Sans-serif; font-weight:bold; }
td#colour1 { background-color:#F5F5F5; }
td#colour2 { background-color:#E7E9F2; }

#pagecount { height:25px; width:100%; margin:5px 0px; background-color:#00438C; color:#fff; }
#pagecount span{margin:10px; font-size:13px; }
#pagecount span a{ color:#fff; }

div#image-show { border: 1px solid gray; }
div.flow { margin-top:10px; text-align:center; }
